<section class="contact-details container" *ngIf="contact">
    <div class="nav flex space-between align-center">
        <a (click)="goBack()" class="back hover-link">Back</a>
        <a routerLink="/contact/edit/{{contact._id}}" class="link-edit hover-link">Edit Contact Details</a>
    </div>
    <div class="flex info space-between align-center">
        <img class="contact-img" src="{{contact.img}}" alt="" />
        <div>
            <h3>Name: {{contact.name}}</h3>
            <h3>Phone: {{contact.phone}}</h3>
            <h3>Email: {{contact.email}}</h3>
        </div>
    </div>
    <transfer-fund [contact]="contact" (addMove)="addMove($event)" ></transfer-fund>
    <!-- <MoveList moves={movesToContact} title={'Your Moves'} /> -->
</section>
